/* REMOVE HEADER AND FOOTER FROM SPLASH PAGE */
#collection-673ba3322200d54b391a676d {
  footer, header{
    display: none !important;
  }
}

/* CUSTOM FONT ITC ESPIRIT-STD */
@font-face {
  font-family: 'itc-esprit-std-book';
  src: url('https://static1.squarespace.com/static/67364bc02c136951cacefa1f/t/6740ee21da582974c26b2876/1732308513782/itc-esprit-std-book.ttf');
}

@font-face {
  font-family: 'Memphis-LT-Std-Medium';
  src: url('https://static1.squarespace.com/static/67364bc02c136951cacefa1f/t/6740ee8fad4d7d3a1e9899fb/1732308623461/Memphis+LT+Std+Medium.otf');
}


h3 {
  font-family: 'itc-esprit-std-book';
	text-transform: uppercase;
}

sqsrte-small {
  font-family: 'Memphis-LT-Std-Medium';
}

/* HIDE EVENTS LIST ON EVENTS PAGE */
@media screen {
	[data-section-id="673bc15b323fa01d687febe8"] {
		display: none;
	}
}

/* HIDE HERO IMAGE ON DESKTOP HOMEPAGE */
@media only screen and (min-width: 640px) {
	#block-yui_3_17_2_1_1732649458977_6396 {
   		display: none;
	}
}

/* HIDE HERO IMAGE ON MOBILE HOMEPAGE */
@media only screen and (max-width: 639px) {
	#block-yui_3_17_2_1_1731961638871_5174 {
   		display: none;
	}
}

/* section[data-section-id="673ba5e9bbcc73185c2f3750"] {
  order: 1; 
}
section[data-section-id="6746e2109b9b626930f9a1b6"] {
  order: 2; 
}
@media (max-width: 579px) {
section[data-section-id="673ba5e9bbcc73185c2f3750"] {
  order: 2; 
}
section[data-section-id="6746e2109b9b626930f9a1b6"] {
  order: 1; 
}  
} */

/* Carousel */
section[data-section-id="6746e2109b9b626930f9a1b6"] {
  .summary-heading {
    display: none !important;
  }
  
  .summary-carousel-pager {
    & > span {
      position: absolute !important;
      top: 50% !important;
      transform: translate(-50%, -50%);
      margin: 0 !important;
      cursor: pointer;
      
      &::before {
        font-size: 30px !important;
        width: 30px !important;
        height: 30px !important;
        line-height: 30px !important;
      }
    }
    
    .summary-carousel-pager-prev {
      left: -20px !important;
      
      @media (max-width: 579px) {
        left: -12px !important;
      }
    }
    
    .summary-carousel-pager-next {
      right: -40px !important;
    }
  }
  
  .summary-item-list {
    .summary-title a {
      font-size: 1.3em;
      line-height: 1em;
      margin: 1em 0 .2em 0;
      display: inline-block;
    }
    .product-price {
      line-height: 2rem !important;
      font-size: 1.1rem !important;
    }
  }
}

/* newsletter subscribe */
.newsletter-form-field-element:hover,
.newsletter-form-field-element:focus {
  outline: none; 
}
.sqs-block-newsletter .newsletter-form-field-element {
  border: none;
  border-bottom: 1px solid #000;
  padding: 1.4rem 0 !important;
}
.newsletter-form-field-element::placeholder {
  color: #000 !important;
}
.newsletter-form-button {
  border: none;
  outline: none;
}
.newsletter-form-button-wrapper button.newsletter-form-button {
  border: none !important;
  background-color: unset !important;
  color: #000 !important;
  transition: 0.5s ease;
}

button.newsletter-form-button.sqs-system-button.sqs-editable-button-layout.sqs-editable-button-style.sqs-editable-button-shape.sqs-button-element--primary:hover {
  text-decoration: underline;
}
@media (max-width: 579px) {
  .newsletter-block .newsletter-form-body {
      padding: 0 0 1rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
	}
  .newsletter-block .newsletter-form-field-wrapper {
      min-width: 50%;
	}
  .newsletter-block .newsletter-form-button {
    padding: 1.4rem 1.2rem !important;
  }
}

/* NEW ARRIVALS HIDDEN SECTION ON DESKTOP AND MOBILE */

@media screen and (max-width: 640px) {
  section[data-section-id="6746e2109b9b626930f9a1b6"] {
    display: none;
  }
}

@media screen and (min-width: 641px) {
  section[data-section-id="6747a743673b226a9e6d37bd"]{
    display: none;
  }
}

/*HIDE NEXT & PREVIOUS CONTROLS AT BOTTOM OF BLOG*/
.item-pagination[data-collection-type^="blog"]{
	display: none;
}

/* product title */
.ProductItem .ProductItem-details h1.ProductItem-details-title {
  font-family: 'itc-esprit-std-book';
}